<h2>Forum</h2>
<p>Choose a country to find a desired forum</p>
	<% if @countries.empty? %>
	<em> No countries found</em>
	<br>
	<% else %> 
		<table class="table table-striped">
			<tr>
				<th>Countries with cities</th>
			</tr>
			<% @countries.each do |country| %>
				<% if !country.cities.empty? %>
					<tr>
						<td><%= link_to country.name, {:action => 'show', :id => country} %></td>
					</tr>
				<% end %>
			<% end %>

			<tr>
				<th>Countries without cities</th>
			</tr>
			<% @countries.each do |country| %>
				<% if country.cities.empty? %>
					<tr>
						<td><%= link_to country.name, {:action => 'show', :id => country} %></td>
					</tr>
				<% end %>
			<% end %>
		</table>	
	<% end %>
