<h2>Forum</h2>
<p>Choose a country to find a desired forum</p>
	<% if @countries.empty? %>
	<em> No countries found</em>
	<br>
	<% else %> 
		<table class="table table-striped">
			<tr>
				<th>Name</th>
			</tr>
			<% @countries.each do |country| %>
			<tr>
				<td><%= link_to country.name, {:action => 'show', :id => country} %></td>
			</tr>
	<% end %>
		</table>	
<% end %>
