
<% # This view displays a form for a user to register %>
<h1>Edit my profile</h1>

<hr>

<p class="text-info">You can update your account at any given moment to better reflect your current situation.</p>

<hr>

<%= form_for @user, :html => { :class => "form-horizontal" } do |u| %>
	<%= render :partial => "user_edit", :locals => {
		:u => u,
		:countries => @countries
	} %>

    <div class="form-actions">
		<%= u.submit "Save", :class => "btn btn-primary" %>
	</div>
<% end %>
