<% # This view displays a form for a user to register %>
<h1>Register</h1>

<hr>

<p class="text-info">You're just one step away! Once registered, you'll be able to interact with other users, ask questions, and publish content of your own!</p>

<hr>


<%= form_for @user, :html => { :class => "form-horizontal" } do |u| %>
	<%= render :partial => "user_edit", :locals => {
		:u => u,
		:countries => @countries
	} %>

    <div class="form-actions">
		<%= u.submit "Register", :class => "btn btn-primary" %>
		<%= link_to "Cancel", root_url, :class => "btn" %>
	</div>
<% end %>