<h1>Welcome</h1>
<p>Share your opinion and exchange info with students from all the countries of Europe!</p>
       
      <div id="myCarousel" class="slide carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash4/479737_4645946201023_435861318_n.jpg" alt="" > <div class="carousel-caption">
              <h4>Why you need purErasmus?</h4>
              <p>ERASMUS is an EU exchange programme for students from 33 countries of Europe. Each year it enables more than 230 000 students to study abroad for one or two semesters.</p>
              <p>To make this adventure even easier and more exciting we want to provide you with valuable and up-to-date information.</p>
              <p>PurErasmus is a platform where you can exchange your experience with foreign countries, destinations and universities taking part in the programme.    </p>
            </div>
          </div>
          <div class="item">
            <img src="http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash4/479737_4645946201023_435861318_n.jpg" alt="">
            <div class="carousel-caption">
              <h4>If You want to go for exchange</h4>
              <span>
              <p>Find the most interesting city</p>
              <p>Compare universities</p>
              <p>Get advices from exchange students</p>
              </div>
          </div>
          <div class="item">
            <img src="http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash4/479737_4645946201023_435861318_n.jpg" alt="">
            <div class="carousel-caption">
              <h4>If You are on an exchange</h4>
              <p>Find other exchange students</p>
              <p>Be up-to-date with events in your exchange city</p>
              <p>Edit info about your home university</p>
              <p>Share your experience</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
