<% content_for :city_breadcrumbs do %>
	<li class="active"><%= @city.name %></li>
<% end %>

<div class="right-buttons">
	<%= link_to "Add a University", new_university_path, :class => "btn" %>
</div>

<!-- Table with a list of universities. -->

<% if (@city.universities.count) > 0 %> 
	<table class="table city-universities">
		<thead>
			<th>Name</th>
			<th># of students</th>
		</thead>
		<tbody>
		<% @city.universities.each do |u| %>
			<tr>
				<td><%= u.name_english %></td>
				<td>5,000</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% else %>
	No universities yet in this city.
<% end %>