.avatar {
    width: 30px;
    height: 30px;
    top: 5px;
    border-radius: 5px;
}

.odd-well {
	background-color: rgb(252,252,252);
}

.dl-horizontal dt {
    border-right: dotted rgb(200,200,200);
    padding-right: 10px;
}

.topics-table {
	p {
		padding: 0;
		margin: 0;
	}
}
