<h1>Edit University</h1>

<hr />

<p class="text-info">Does this university have any mistake or field outdated? Help us, and feel free to modify it :)</p>

<hr />

<%= form_for @university, :html => { :class => "form-horizontal" } do |f| %>

	<%= render :partial => "university_edit", :locals => {
		:f => f
	} %>

    <div class="form-actions">
		<%= f.submit "Update", :class => "btn btn-primary" %>
		<%= link_to "Cancel", @university, :class => "btn" %>
	</div>

<% end %>