<h1>New University</h1>

<hr />

<p class="text-info">If your university do not exist, come on! help us to create it!</p>

<hr />

<%= form_for @university, :html => { :class => "form-horizontal" } do |f| %>

	<%= render :partial => "university_edit", :locals => {
		:f => f
	} %>

    <div class="form-actions">
		<%= f.submit "Create", :class => "btn btn-primary" %>
		<%= link_to "Cancel", @university.city ? @university.city : universities_path, :class => "btn" %>
	</div>

<% end %>
